@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
*{
    /* Estilos Generales */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

/* MEDIDA GENERAL PARA CREAR BARRA INICIO */
header{
    /* Estilos para la barra de Navegacion*/

    /* Posicionar hacia la parte superior del navegador */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    /* Propiedad Ganadora para posicion de otra etiqueta */
    z-index: 2;/*verificar*/
}
/* MEDIDA GENERAL PARA CREAR BARRA FINAL */



/* Posicionamiento de Logo y Enlazes en la barra de navegacion */

/* 1. CAJA PRINCIPAL */
.header-content{
    /* Aliniacion de Espacio |______ | Eso el max witd de espacio pero  */
    max-width: 1200px;
    /* Centramos la barra | ______ | */
    margin: auto;

    /* Poner del lado de Otro con una propiedad Especial*/
    display: flex;
    /* Dividir espacio de logo y enlaze |  logo___________enlaces  | */
    justify-content: space-between;
    
}

/* 1.1 Subcaja  LOGO */

/* Centrar logo en la Barra de navegacion */
/* 
        Barra De Navegacion
__________________________________________
|   logo                    .inicio      |
|                           .tutoriales  |
|                            .contactos  |
__________________________________________
*/
.logo{
    /* Ponemos esta medida porque este tamaño es la barra de navegacion establecido por HEADER que es 80px de height(altura) */
    height:80px;
    /* Propiedad Espacial para centrar el logo */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 
            Barra De Navegacion
    __________________________________________
    |                            .inicio     |
    |   logo                     .tutoriales |
    |                            .contactos  |
    __________________________________________

    Listo lo tenemos centrado

    */

  
}

.logo h1 b{
    color:  #46a2fd;
}


/* 1.2 Subcaja MENU */
/*Centrar Enlaces y separar los Letras de Enlazes  */

/* Medida de largo General de esta propiedad */
.menu{
    height: 80px;
    
}
/* medida de espacio de Todo 80px a todo 100% en sub etiqueta*/
.menu nav{
    height: 100%;
   
}

/* Meidad para Lista desordenada de NAV>UL */
   /* 
            Barra De Navegacion
    __________________________________________
    |                            .inicio     |
    |   logo                     .tutoriales |
    |                            .contactos  |
    __________________________________________

    De asi 

    */ 

.menu nav ul{
    /* medida de espacio de Todo 80px a todo 100% de sub sub etiqueta */
    height: 100%; 

    /* Solo para separar del uno del otro */
    display: flex;
   
    /* Eliminar puento de lista */
    list-style: none;

     /* 
            Barra De Navegacion
    ________________________________________________________________
    |   |                         InicioTutorialesContactos|   |
    |   |logo                                              |   |
    |   |                                                  |   |
    _________________________________________________________________

    A estar haci
*/
    
}

.menu nav ul li{
    /* medida de espacio de Todo 80px a todo 100% de sub sub sub nav>ul>li etiqueta */
    height: 100%;
    /* Separar Espacio de letras enlaces */
    margin: 0 20px; /* top - right*/

    /* Propiedad Espacial para centrar */
    display: flex;
    justify-content: center;
    align-items: center;

      /* 
            Barra De Navegacion
    ________________________________________________________________
    |   |                                                       |   |
    |   |logo                    Inicio  Tutoriales  Contactos  |   |
    |   |                                                       |    |
    _________________________________________________________________
    Haci se le mira ya listos y centrado

*/
    /* Esto va relacionado con .menu-selected para relacionar los enlazes */
    position: relative;
}

/* Poner Linea en un enlaze */
/* Creadcion de pseudoclase */

.menu-selected::before{
    /* Contenido en Blanco adema es necesario*/
    content: '';
    /* Medidas para la linea */
    width: 100%;
    height: 4px;
    background: #46a2fd;
    /* Posicionar en algo que no se */
    position: absolute;
    top: 0;
    left: 0;

      /* 
            Barra De Navegacion
    ________________________________________________________________
    |   |                                ____             |   |
    |   |logo                    Inicio  blog  Contactos  |   |
    |   |                                                 |    |
    _________________________________________________________________
    Haci se le mira ya listos y centrado
    
*/
}
/* Colorear letras y colorear con azul enlaze blog */
/* Solo coloreamos todo los enlaze */
.menu nav ul li a{
    color: #777777;
    font-size: 18px;
    transform: color 300ms;
}
/* Espeficiar un color en una clase creada en <a class=""></a> */
.menu .text-menu-selected{
    color: #46a2fd;
}

/* Aplicaion de efecto hover */
.menu nav ul li a:hover{
    color: #46a2fd;
}

/*****************************PORTADA*************************************/
/* Primera Caja de Portada */
.container-cover{
    /* Medidas Generales */
    width: 100%;
    height: 500px;
    /* Para no desmaquetar y el contenido este junto con ello */
    position: relative;
    /* Para separar de la barra de Navegacion por que su height es de 80px en header, Asi poder ver las letras de la portada */
    margin-top: 80px;
    /* Poniendo imagen con propideda especial*/
    background-image: url(../img/Gol\ D\ roger\ execute.png);
    /* Propiedad bg para centrar la imagen estandar no centrar total mente */
    background-position: center;
    /* Mostrar imagen completa y evitae que se repita cuando lo agrandemos o achicamos */
    background-size: cover;
    /* No repetir la imagen */
    background-repeat: no-repeat;
}

/*Creacion de capa Azul / con esta pesudo clase*/
.container-cover:before{
    /* Contenido Vacio */
    content: '';
    /* Medidas Generales */
    width: 100%;
    height: 100%;
    /* Color de transparencia */
    background:rgba(38, 172, 255, .8) ;
    /* Lo ponemos una posicion Absoluta */
    position: absolute;
    /* Posicion de arriba e izquierda */
    top: 0;
    left: 0;
 
}



/* Centrar letras y posicionarlo */
 /*******************
       PORTADA
       
     _________________________________________
     | Gold Roger                             |
     |                                        |
     |                                        |
     |                                        |
     |                                        |
     |                                        |
    ___________________________________________

DE asi 
    ******************************/
.container-info-cover{
    
    /*Medida general de espacio*/
    max-width: 800px;
    height: 500px;
    /* Centrarlo */
    margin: auto;
    text-align: center;
    /* Centrar con propiedad Espacial
    pero los separa al costado del otro */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Solucionar para que esten en columna */
    flex-direction: column;

    /*Posicon relative para que agare el z-index*/
    position: relative;
    /*que este sobre puesto de todo, esto hace que las letras sean estes sobre el color y la imagen */
    z-index: 1;
    /*******************
       PORTADA
       
     _________________________________________
     |                                        ||                                        |
     |             Gol d Roger                           |              pirate
     |                                        |
     |                                        |
     |                                        |
     |                                        |
    ___________________________________________


    ******************************/
}

/* Poner estilos en h1  */
.container-info-cover h1{
    /* Medidas de LEtras */
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    /* Alejar al p con margin-bottom */
    margin-bottom: 20px;
}

/* Poner estilos a P */
.container-info-cover p{
    color: #fff;
    /* Agrandando letra */
    font-size: 20px;

    font-weight: 300;
    
}

/*************CONTAINER CONTENT - ARTICULOS ***********************/

.container-content{
    /* Medidas Generales */
    width: 1200px;
    margin: auto;
    
    margin-top: 40px;

   /*Corregimos el container-cover : top:80px a margin-top: 80px para solucionar error de ver los articulo a media sobre la portada*/
}

/* Medidas de Articulos */
article{
    /* Medidas */
    width: 100%;

    /*Espacioad de adentro*/
    padding: 20px;

    /* Espacidos */
    padding-bottom: 40px;

    /* Mini sombra de contorno*/
    box-shadow: -10px 0 20px -30px black;
    border-radius: 6px;
    
    /*Posicion Para la Linea azul superior encima de article para que se desarrolle */
    position: relative;

    /*No se que es Especifiamanet pero me decora la linea azul superior*/
    overflow: hidden;
    
}

/*Linea azul superior encima de article*/
article:before{
    /* Contenido Vacio */
    content: '';
    /* Medidas Generales de Eso */
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: #46a2fd;
}

/* Decoracion de letra de h1 */
article h1{
    /* Separar los h1 mas alejados */
    margin-top: 20px;
    /* Tamaño de letras ancho */
    font-weight: 500;
    /* Tamaño de letra  */
    font-size: 40px;
}

/* Decoraccion de P: parrafo */
article p{
    /* Medidas de sepracion */
    margin-top: 20px;
    /* Tamaño de letra */
    font-size: 18px;
    color: #3c3c3c;
}