*{
    /* Estilos Generales */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

header{
    /* Estilos para la barra de Navegacion*/

    /* Posicionar hacia la parte superior del navegador */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    /* Propiedad Ganadora para posicion de otra etiqueta */
    z-index: 2;/*verificar*/
}

/* Posicionamiento de Logo y Enlazes en la barra de navegacion */
.header-content{
    /* Aliniacion de Espacio |______ | Eso el max witd de espacio pero  */
    max-width: 1200px;
    /* Centramos la barra | ______ | */
    margin: auto;
    
    /* Poner del lado de Otro con una propiedad Especial*/
    display: flex;
    /* Dividir espacio de logo y enlaze |  logo___________enlaces  | */
    justify-content: space-between;
    
}